html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $color-cornflowerblue;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1, .h1 {
  font-size: 36px;
  line-height: 1.5;
}

h2, .h2 {
  font-size: 24px;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 16px;
  line-height: 1.35;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}
.visually-hidden {
  display: none;
}

img {
  padding: 0;
}

.button {
  height: 48px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: $color-cornflowerblue;
  color: $color-white;
  transition-duration: 0.2s;


  @include font($size: 1.6rem, $height: normal, $weight: 400)
}

.button:hover {
  opacity: 0.8;
}

.input {
  display: flex;
  align-items: center;
  padding-inline: 15px;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid $color-lightskyblue;

  @include font($size: 2rem, $height: normal, $weight: 400)
}


.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px $color-lightskyblue;
}

.select {
  height: 48px;
  width: 50%;
  border-radius: 4px;
  border: 2px solid $color-lightskyblue;

  @include font($size: 1.6rem, $height: normal, $weight: 400)
}

