:root {
  --color-brand: #6495ED;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-brand-light: lightskyblue;
  --color-success: green;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  display: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-brand);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1, .h1 {
  font-size: 3.6rem;
  line-height: 1.5;
}

h2, .h2 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 2rem;
  line-height: 1.35;
}

span, select {
  font-size: 1.6rem;
  line-height: 1.35;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  padding: 0;
}

button {
  font-size: 1.6rem;
  line-height: 1.35;
}

.button {
  height: 48px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color-brand);
  color: var(--color-light);
  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.input {
  display: flex;
  align-items: center;
  padding-inline: 15px;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid var(--color-brand-light);
  font-size: 2rem;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-brand-light);
}

.select {
  height: 48px;
  width: 50%;
  border-radius: 4px;
  border: 2px solid var(--color-brand-light);
}

.container {
  max-width: 600px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
.navigation__title {
  color: var(--color-light);
}
.navigation__return-button {
  display: flex;
  align-items: center;
  visibility: hidden;
  margin-right: 220px;
}

.is-active {
  visibility: visible;
}

.category {
  display: grid;
  text-align: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 20px;
}

.category__task {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 40px;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--color-light);
  transition-duration: 0.5s;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.15);
}
.category__task-count {
  color: var(--color-dark);
}

.category__task:hover {
  opacity: 0.8;
  scale: 1.05;
}

.add-task-form {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 40px;
  border-radius: 8px;
  background-color: var(--color-light);
}
.add-task-form__category {
  height: 54px;
  padding-inline: 20px;
  border-radius: 4px;
  color: var(--color-dark);
  border: 2px solid var(--color-brand-light);
}
.add-task-form__category:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-brand-light);
}
.add-task-form__button {
  padding-inline: 25px;
}

.task {
  display: flex;
  column-gap: 10px;
  width: 600px;
}

.task-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}

.delete-button-task {
  height: 54px;
  padding-inline: 15px;
  background-color: var(--color-light);
}

.task-list-empty {
  padding-top: 40px;
  color: var(--color-light);
}

/*# sourceMappingURL=style.css.map */
