.category {
  display: grid;
  text-align: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 20px;
}

.category__task {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 40px;
  cursor: pointer;
  border-radius: 8px;
  background-color: $color-white;
  transition: 0.5s;
  box-shadow: 5px 15px 25px rgb(0, 0, 0, 0.15);


  &-title {
    color: $color-black;


    @include font($size: 3rem, $height: normal, $weight: 700)
  }

  &-count {
    color: $color-black;


    @include font($size: 1.6rem, $height: normal, $weight: 400)
  }
}

.category__task:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.add-task-form {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 40px;
  border-radius: 8px;
  background-color: $color-white;


  &__category {
    height: 54px;
    padding-inline: 20px;
    border-radius: 4px;
    color: $color-black;
    border: 2px solid $color-lightskyblue;


    @include font($size: 1.6rem, $height: normal, $weight: 400)
  }

  &__category:focus {
    outline: none;
    box-shadow: 0 0 0 3px lightskyblue;
  }

  &__button {
    padding-inline: 25px;
  }
}


