.category {
  display: grid;
  text-align: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 20px;
}

.category__task {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 40px;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--color-light);
  transition-duration: 0.5s;
  box-shadow: 5px 15px 25px rgb(0, 0, 0, 0.15);

  &-count {
    color: var(--color-dark);
  }
}

.category__task:hover {
  opacity: 0.8;
  scale: 1.05;
}

.add-task-form {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 40px;
  border-radius: 8px;
  background-color: var(--color-light);


  &__category {
    height: 54px;
    padding-inline: 20px;
    border-radius: 4px;
    color: var(--color-dark);
    border: 2px solid var(--color-brand-light);
  }

  &__category:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-brand-light);
  }

  &__button {
    padding-inline: 25px;
  }
}


