.navigation {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;

  &__title {
    color: var(--color-light);
  }

  &__return-button {
    display: flex;
    align-items: center;
    visibility: hidden;
    margin-right: 220px;
  }
}

.is-active {
  visibility: visible;
}