.navigation {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;

  &__title {
    color: $color-white;

    @include font($size: 2.8rem, $height: normal, $weight: 700)
  }

  &__button {
    visibility: hidden;
    margin-right: 220px;
  }
}

.is-active {
  visibility: visible;
}